html,body{
  height: 100%;
}
/*Header Section*/
.header{
    /*background: url(../images/b1.jpg) no-repeat center center scroll;*/
    color: white;
    height: 100%;
}
@media (min-width: 767px) {
  .header{
    background-size: 100% 100%;
  }
}
@media (max-width: 767px) {
  .header{
    background-size: auto 100%;
  }
}
.btn-large{
  font-size: 20px;
  padding-left: 25px;
  padding-right: 25px;
}

.btn-larger{
  font-size: 23px;
  font-weight: bold;
  padding-left: 35px;
  padding-right: 35px;
}
/* End of header */

/* About */
.divider{
  padding: 30px 0px;
}

.about{
  background: url(../images/campus.jpg) no-repeat center center scroll;
  color: white;
  padding: 0px 0px;
}
@media (min-width: 767px) {
  .about{
    background-size: 100% 100%;
  }
}
@media (max-width: 767px) {
  .about{
    background-size: auto 100%;
  }
}
.about .bg-overlay{
  padding: 50px 0px;
  margin: 0;
  background-color: rgba(10,10,10,0.8);
}

/* !-About*/


/*Navbar Unreactive*/
.navbar-custom{
  position: fixed;
  z-index: 9999 !important; 
  width: 100%;
}
.navbar-custom-float-top{
  top: 0;
}
.navbar-custom-float-bottom{
  bottom: 0;
}
.navbar-custom-centered{
  position: relative;
  
  text-align:center;
  overflow: hidden;
  color: white; /*text color*/
  background-color: #222;
}
.navbar-custom-centered a{
  color: white;
  text-decoration: none;
}
.navbar-custom-centered ul{
  margin: 0;
  padding: 0;
  list-style-type: none;
}
.navbar-custom-centered li{
  display: inline;
}
.navbar-custom-centered li a{
  display: inline-block;
  margin-left: 3px;
  margin-right: 3px;
  margin-top: 0px;
  margin-bottom: 0px;
  text-align: center;
}
.navbar-custom-centered li a:hover{
  background-color: #999;
}

.navbar-custom-centered .nav-header-custom{
  font-size: 18px;
  font-weight: 500;
}
@media (min-width: 767px){
  .navbar-custom-centered .nav-header-custom li a{
    padding: 14px 6%;
  }
}
@media (max-width: 767px){
  .navbar-custom-centered .nav-header-custom li a{
    padding: 14px 2px;
  }
}
.navbar-custom-centered .nav-header-custom .navbar-custom-brand{
  font-size: 20px;
  font-weight: 600;
}

.navbar-custom-centered .nav-footer-custom{
  font-size: 13px;
  font-weight: 200;
}
.navbar-custom-centered .nav-footer-custom li a{
  padding: 1px 3%;
}
.navbar-custom-centered .nav-footer-custom .navbar-custom-brand{
  font-size: 14px;
  font-weight: 300;
}
/*End of Navbar section*/